<h1 class="text-4xl font-bold"><%=@project.name %>

<div class="flex gap-1 overflow-x-auto">
  <% @project.lists.each do |list| %>
    <div class="w-full px-4 py-2 text-gray-400 rounded-md bg-zinc-900 lg:w-1/7 lg:max-w-1/7 lg:min-w-1/7">
      <div class="mb-2">
        <h2 class="text-base"><%=list.name %></h2>
      </div>
      <div class="flex flex-col gap-1">
        <% list.cards.each do |card| %>
          <div class="px-2 py-1 rounded-md bg-slate-600/70 text-slate-200 text-wrap">
            <h3 class="text-base"><%=card.name%></h3>
          </div>
        <% end %>
        <div>
          <%= link_to 'New Card +', new_project_list_card_path(@project, list), class: 'text-base' %>
        </div>
      </div>
    </div>
  <% end %>

  <div>
    <%= link_to 'New List +', new_project_list_path(@project), class: 'text-base' %>
  </div>  

</div>